section.applications#applications
  .wrapper
    .applications__wrapper 
      h2.reveal Сферы применения
      .applications__items
        .applications__item.reveal
          img(src="/assets/images/applications1.svg", alt="applications1")
          p Применение в компаниях со <br> штатом более 200 сотрудников <br> для сокращения количества <br> неэффективных встреч и <br> уменьшения дублирования <br> задач
        .applications__item.reveal
          img(src="/assets/images/applications2.svg", alt="applications2")
          p Оценка эффективности <br> команд и отдельных <br> сотрудников на основе <br> ответов и ведения <br> документации
        .applications__item.reveal
          img(src="/assets/images/applications3.svg", alt="applications3")
          p Ротация команд <br> (менеджмент продукта <br> или стартапа)
        .applications__item.reveal
          img(src="/assets/images/applications4.svg", alt="applications4")
          p Онбординг новых <br> сотрудников