footer.footer 
  .wrapper 
    .footer__wrapper.reveal
      .footer__logo 
        img(src="/assets/images/logo.svg", alt="logo")
      nav.footer__nav 
        .footer__link 
          a(href="#how-it-works") как это работает
        .footer__link 
          a(href="#info") интеграции
        .footer__link 
          a(href="#security") безопасность
        .footer__link 
          a(href="#applications") сферы применения
        .footer__link 
          a(href="#terms") сроки интеграции
        .footer__link 
          a(href="#plan") план развития продукта
      .footer__mail
        a(href="mailto:info@spacecode.ru") info@spacecode.ru