header.header
  .wrapper
    .header__wrapper
      .header__container
        a(href="#top").header__logo
          img(src="/assets/images/logo.svg", alt="logo")
        nav.header__menu
          a(href="#how-it-works").header__link как это работает
          a(href="#info").header__link интеграции
          a(href="#security").header__link безопасность
          a(href="#applications").header__link сферы применения
          a(href="#terms").header__link сроки интеграции
          a(href="#plan").header__link план развития продукта
      a(href="mailto:info@spacecode.ru").header__mail info@spacecode.ru
      button(type="button").header__button
        <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 10H18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3 5H18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3 15H18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
  .mob-menu
    .mob-menu__wrapper
      .mob-menu__close 
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M18 20.121L26.4855 28.6065C26.7684 28.8797 27.1473 29.0309 27.5406 29.0275C27.9339 29.0241 28.3101 28.8664 28.5882 28.5882C28.8663 28.3101 29.0241 27.9339 29.0275 27.5406C29.0309 27.1473 28.8797 26.7684 28.6065 26.4855L20.121 18L28.6065 9.51451C28.8797 9.23161 29.0309 8.8527 29.0275 8.45941C29.0241 8.06611 28.8663 7.6899 28.5882 7.41178C28.3101 7.13367 27.9339 6.97592 27.5406 6.9725C27.1473 6.96908 26.7684 7.12027 26.4855 7.39351L18 15.879L9.51448 7.39351C9.2303 7.12703 8.8536 6.98156 8.46407 6.98788C8.07455 6.99421 7.70277 7.15183 7.42739 7.4274C7.15202 7.70297 6.99466 8.07486 6.98861 8.46439C6.98256 8.85392 7.12829 9.23052 7.39498 9.51451L15.879 18L7.39348 26.4855C7.25021 26.6239 7.13594 26.7894 7.05733 26.9724C6.97871 27.1554 6.93733 27.3522 6.9356 27.5514C6.93387 27.7506 6.97183 27.9481 7.04725 28.1324C7.12267 28.3168 7.23405 28.4843 7.37489 28.6251C7.51573 28.7659 7.6832 28.8773 7.86755 28.9527C8.05189 29.0282 8.24941 29.0661 8.44858 29.0644C8.64775 29.0627 8.84458 29.0213 9.02759 28.9427C9.21059 28.864 9.37611 28.7498 9.51448 28.6065L18 20.121Z" fill="white"/>
        </svg>
      a(href="#top").mob-menu__logo
        img(src="/assets/images/mob-menu-logo.svg", alt="mob-menu-logo")
      .mob-menu__links
        a(href="#how-it-works").mob-menu__link как это работает
        a(href="#info").mob-menu__link интеграции
        a(href="#security").mob-menu__link безопасность
        a(href="#applications").mob-menu__link сферы применения
        a(href="#terms").mob-menu__link сроки интеграции
        a(href="#plan").mob-menu__link план развития продукта
      a(href="mailto:info@spacecode.ru").mob-menu__mail info@spacecode.ru