section.works#how-it-works
  .wrapper
    .works__wrapper
      h2.reveal <span>Как</span> это работает?
      .works__blocks
        .works__block
          .works__arrow.reveal
            img.works__arrow.works__arrow-mob(src="/assets/images/works/arrow1-mob.svg", alt="works-item1-mob")
            img.works__arrow.works__arrow-pc(src="/assets/images/works/arrow1.svg", alt="arrow1")
          .works__content.reveal
            img.works__img(src="/assets/images/works/works-item1.svg", alt="works-item1")
            p <span>Задаете интересующий вас вопрос</span> <br> боту в корп. мессенджере (email, <br> telegram, slack, teams и др.)
          .works__arrow-mobile
            img(src="/assets/images/works/works-arrow.svg", alt="works-arrow")
        .works__block
          .works__arrow.reveal
            img(src="/assets/images/works/arrow2.svg", alt="arrow2")
          .works__content.reveal
            img.works__img(src="/assets/images/works/works-item2.svg", alt="works-item2")
            p AI проводит <span>семантический <br> анализ</span> запроса
          .works__arrow-mobile
            img(src="/assets/images/works/works-arrow.svg", alt="works-arrow")
        .works__block
          .works__arrow.reveal
            img(src="/assets/images/works/arrow3.svg", alt="arrow3")
          .works__content.reveal
            img.works__img(src="/assets/images/works/works-item3.svg", alt="works-item3")
            p <span>Находит коллег, обладающих <br> экспертизой</span>/предоставляет релевантные <br> документы или регламенты, сокращая <br> время взаимодействия
          .works__arrow-mobile
            img(src="/assets/images/works/works-arrow.svg", alt="works-arrow")
        .works__block
          .works__arrow.reveal
            img(src="/assets/images/works/arrow4.svg", alt="arrow4")
          .works__content.reveal
            img.works__img(src="/assets/images/works/works-item4.svg", alt="works-item4")
            p С течением времени AI <span>сможет <br> отвечать на большинство вопросов <br> самостоятельно</span>, основываясь на <br> истории вопросов и базе знаний
          .works__arrow-mobile
            img(src="/assets/images/works/works-arrow.svg", alt="works-arrow")
        .works__block
          .works__content.reveal
            img.works__img(src="/assets/images/works/works-item5.svg", alt="works-item5")
            p <span>Капитализация знаний компании</span> на <br> основе вопросов и ответов, а также <br> обращений к документации