section.info#info
  .wrapper#security
    .info__wrapper 
      .info__block.reveal
        .info__header 
          img(src="/assets/images/refresh.svg", alt="refresh")
          h3 Интеграции
        .info__text
          h4 Взаимодействие с чат-ботом: 
          p Slack, Microsoft Teams, Telegram, VK-teams
        .info__text
          h4 На чем обучается AI: 
          p Jira, Trello, Asana, Notion, ПланФикс, Битрикс24, gitlab, яндекс.трекер, SberCRM, Confluence
      .info__block.reveal
        .info__header 
          img(src="/assets/images/check.svg", alt="check")
          h3 Безопасность
        .info__text
          p Никакие данные компании не покидают Вашего сервера. <span>Вся информация системы обрабатывается и хранится в Вашей инфраструктуре.</span> Гибкая настройка доступов к базам знаний отделов.