section.plan#plan
  .wrapper
    .plan__wrapper
      h2.reveal Планы развития продукта
    .plan__items
      .plan__item
        .plan__number.reveal
          img(src="/assets/images/plan-number1.svg", alt="plan-number1")
          span 01
        .plan__block.reveal
          .plan__content
            .plan__inner
              .plan__image
                img(src="/assets/images/plan-image1.svg", alt="plan-image1")
              .plan__text Computer Vision и OCR технологии для более <br> глубокого анализа документации <br> (распознавание pdf, .jpg и др. документов)
      .plan__item
        .plan__number.reveal
          img(src="/assets/images/plan-number2.svg", alt="plan-number2")
          span 02
        .plan__block.reveal
          .plan__content
            .plan__inner
              .plan__image
                img(src="/assets/images/plan-image2.svg", alt="plan-image2")
              .plan__text Оцифровка “бумажной” документации <br> и добавление ее в базу знаний <br> компании
      .plan__item
        .plan__number.reveal
          img(src="/assets/images/plan-number3.svg", alt="plan-number3")
          span 03
        .plan__block.reveal
          .plan__content
            .plan__inner
              .plan__image
                img(src="/assets/images/plan-image3.svg", alt="plan-image3")
              .plan__text Аналитика, алерты о недостатке экспертизы, <br> узкие горлышки, сотрудники-звездочки, <br> эффективность сотрудников
      .plan__item
        .plan__number.reveal
          img(src="/assets/images/plan-number4.svg", alt="plan-number4")
          span 04
        .plan__block.reveal
          .plan__content
            .plan__inner
              .plan__image
                img(src="/assets/images/plan-image4.svg", alt="plan-image4")
              .plan__text Анализ базы знаний: структуризация, <br> связи и тэги документации, недостаток <br> знаний
      .plan__item
        .plan__number.reveal
          span 05
          img(src="/assets/images/plan-number5.svg", alt="plan-number5")
        .plan__block.reveal
          .plan__content
            .plan__inner
              .plan__image
                img(src="/assets/images/plan-image5.svg", alt="plan-image5")
              .plan__text Добавление chatGPT-подобного функционала, <br> формирование умного ассистента, для работы не <br> только с внутренними, но и внешними источниками
      .plan__bg.reveal
        img(src="/assets/images/plan-bg.svg", alt="plan-bg")