.popup__bg
.popup 
  form.form
    h2 Запросить демо
      .popup__close 
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.6303 5.76798C18.5378 5.67527 18.4279 5.60173 18.3069 5.55155C18.186 5.50136 18.0563 5.47553 17.9253 5.47553C17.7943 5.47553 17.6646 5.50136 17.5437 5.55155C17.4227 5.60173 17.3128 5.67527 17.2203 5.76798L12.3303 10.648L7.4403 5.75798C7.34772 5.6654 7.23781 5.59196 7.11685 5.54185C6.99588 5.49175 6.86623 5.46596 6.7353 5.46596C6.60437 5.46596 6.47472 5.49175 6.35376 5.54185C6.23279 5.59196 6.12288 5.6654 6.0303 5.75798C5.93772 5.85056 5.86428 5.96047 5.81417 6.08143C5.76407 6.2024 5.73828 6.33205 5.73828 6.46298C5.73828 6.59391 5.76407 6.72356 5.81417 6.84452C5.86428 6.96549 5.93772 7.0754 6.0303 7.16798L10.9203 12.058L6.0303 16.948C5.93772 17.0406 5.86428 17.1505 5.81417 17.2714C5.76407 17.3924 5.73828 17.522 5.73828 17.653C5.73828 17.7839 5.76407 17.9136 5.81417 18.0345C5.86428 18.1555 5.93772 18.2654 6.0303 18.358C6.12288 18.4506 6.23279 18.524 6.35376 18.5741C6.47472 18.6242 6.60437 18.65 6.7353 18.65C6.86623 18.65 6.99588 18.6242 7.11685 18.5741C7.23781 18.524 7.34772 18.4506 7.4403 18.358L12.3303 13.468L17.2203 18.358C17.3129 18.4506 17.4228 18.524 17.5438 18.5741C17.6647 18.6242 17.7944 18.65 17.9253 18.65C18.0562 18.65 18.1859 18.6242 18.3068 18.5741C18.4278 18.524 18.5377 18.4506 18.6303 18.358C18.7229 18.2654 18.7963 18.1555 18.8464 18.0345C18.8965 17.9136 18.9223 17.7839 18.9223 17.653C18.9223 17.522 18.8965 17.3924 18.8464 17.2714C18.7963 17.1505 18.7229 17.0406 18.6303 16.948L13.7403 12.058L18.6303 7.16798C19.0103 6.78798 19.0103 6.14798 18.6303 5.76798Z" fill="#939393"/></svg>
    input(type="text" required name="name" placeholder="Имя*")
    input(type="tel" required name="phone" placeholder="Телефон*")
    input(type="email" name="email" placeholder="Email")
    button(type="submit") 
      span Отправить
      img(src="/assets/images/arrow-right-white.svg", alt="arrow-right-white")
    p Нажимая на кнопку, вы даете <a href="#" target="_blank">согласие</a> на обработку персональных данных и соглашаетесь с <a href="#" target="_blank">политикой конфиденциальности.</a>