section.solution#solution
  .wrapper
    .solution__wrapper
      .solution__blocks.reveal
        .solution__block.reveal
          .solution__row
            .solution__percent 20% 
            .solution__text времени сотрудники ищут информацию, которая <span>у вас уже есть*</span>
          .solution__row
            .solution__percent 10%
            .solution__text рабочего времени тратится на <span>повторяющиеся задачи*</span>
          .solution__row
            .solution__percent 70% 
            .solution__text знаний внутри компании <span>никак не капитализируются*</span>
          .solution__text *Согласно данным McKinsey
        .solution__block.reveal
          .solution__money -2.28 млн. руб.
          .solution__text-big в месяц <span>теряется на поиск УЖЕ имеющейся у вас информации*</span>
          .solution__text *Если взять компанию со штатом в 200 сотрудников, со средней зарплатой в РФ в 57 тыс. рублей
      h2.reveal Наш продукт решает эту проблему
      button(type="button").callback__button.solution__button.reveal
        span Попробовать 
        img(src="/assets/images/arrow-right-blue.svg", alt="arrow-right-blue")
      .solution__check
        .solution__number.reveal 12
        .solution__text-sm.reveal клиентов в очереди на внедрение по состоянию на <span>24.01.23</span>



 





