section.terms#terms
  .wrapper
    .terms__wrapper
      h2.reveal <span>Сроки</span> интеграции
      .terms__blocks
        .terms__arrow
        .terms__img.reveal
          img(src="/assets/images/terms-item1.svg", alt="terms-item1")
        .terms__img.reveal
          img(src="/assets/images/terms-item2.svg", alt="terms-item2")
        .terms__img.reveal
          img(src="/assets/images/terms-item3.svg", alt="terms-item3")
        .terms__block
          .terms__title.reveal 0-3 месяца
          .terms__text.reveal Интеграция с базой знаний компании для адаптации AI к “языку” компании
        .terms__block
          .terms__title.reveal 3-6 месяцев
          .terms__text.reveal Автоматическое сохранение вопросов и добавление в базу знаний ассистента для улучшения работы алгоритма на Ваших данных
        .terms__block
          .terms__title.reveal 6+ месяцев
          .terms__text.reveal Автоматические ответы на вопросы от AI на основании истории запросов и базы знаний
      button(type="button").callback__button.terms__button.reveal
        span Запросить демо
        img(src="/assets/images/arrow-right-white.svg", alt="arrow-right-white")